
  </div>
   <div class="footer ">
      <p class="footer_text">Made with <span>❤️</span> by Michael Mihaylov</p>
    </div>
    <script>
      let mainNav = document.getElementById('js-menu');
      let navBarToggle = document.getElementById('js-navbar-toggle');
  
      navBarToggle.addEventListener('click', function () {
      
      mainNav.classList.toggle('active');
  });
  </script>
</body>
</html>
