

    <%# <div class="footer-padding"></div> %>
   
  </div>
   <div class="footer bg-dark container">
      <p class="footer_text">Made with <span>❤️</span> by Michael Mihaylov</p>
    </div>
  <script src="/stylesheets/bootstrap/jquery-3.4.1.slim.min.js"></script>
  <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> %>
  <script src="/stylesheets/bootstrap/bootstrap.min.js"></script>
</body>
</html>
