<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog of Mayks | <%= pageTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
</head>
  
<body>
    <nav class="nav">
        <div class="logo">
            <a href="/">Моят Блог</a>
        </div>
        <div>
            <label for="toggle">&#9776;</label>
            <input type="checkbox" id="toggle"/>
            <div class="menu">
                <a href="/">Начало</a>
                <a href="/about">За Мен</a>
                <a href="/contact">Контакт</a>
                <a href="/compose"><span>Създаване</span></a>
            </div>
        </div>
        
    </nav>

<div class="container">
