<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog of Mayks | <%= pageTitle %></title>
  <meta charset="utf-8">
  <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> %>
  <!-- <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css" /> -->
  <link rel='stylesheet' href="/stylesheets/style.css" />
  <!-- <div class='container'> -->
    <nav>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="nav-links">
        <li><a href="/">Начало</a></li>
        <li><a href="/about">За Мен</a></li>
        <li><a href="/contact">Контакт</a></li>
        <li><a href="/compose">Създаване</a></li>
      </ul>
    </nav>
<!-- </div> -->
  <body>
    <div class="container">
