<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog of Mayks | <%= pageTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
</head>
  
<body>
    <header>
        <a href="/"><div class="logo"> Моят Блог </div></a>
        <nav>
            <ul>
                <li><a href="/">Начало</a></li>
                <li><a href="/about">За Мен</a></li>
                <li><a href="/contact">Контакт</a></li>
                <li><a href="/compose">Създаване</a></li>
            </ul>
        </nav>
        <div class="menu-toggle">&#9776;</div>
    </header>

<div class="container">
