<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog of Mayks | <%= pageTitle %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/menu.css">
    
</head>
  
  <body>
      <nav class="navbar">
          <span class="navbar-toggle" id="js-navbar-toggle">
              <i class="fas fa-bars"></i>
          </span>
          <a href="/" class="logo">Моят Блог</a>
          <ul class="main-nav" id="js-menu">
            <li>
                <a href="/" class="nav-links">Начало</a>
            </li>
            <li>
                <a href="/about" class="nav-links">За Мен</a>
            </li>
            <li>
                <a href="/contact" class="nav-links">Контакт</a>
            </li>
            <li>
                <a href="/compose" class="nav-links">Създаване</a>
            </li>
          </ul>
        </nav>
    <div class="container">
