<%- include('partials/header'); -%>
<div class="container-404">
    <h1 class="title-404">404 ERROR.</h1>
    <h3>Oooooops!</h3>
    <h4>Изглежда, че нищо не е намерено!</h4>
    <p>Може да опитате с връзките по-долу</p>
    <div class="links">
        <a href="/">Начало</a>
        <a href="/about">За мен</a>
        <a href="/contact">Контакт</a>
    </div>
</div>
<%- include('partials/footer'); -%>