<%- include('partials/header'); %>

<!-- <div class="container-contact100">
    <div class="wrap-contact100">

        <form class="contact100-form" action="/compose" method="POST">
          <span class="contact100-form-title">
              Създаване
          </span>
      
          <div class="wrap-input100">
            <label class="label-input100" for="exampleFormControlInput1">Заглавие</label>
            <input type="text" class="input100" id="exampleFormControlInput1" name="postTitle">
            <span class="focus-input100"></span>
          </div>
      
          <div class="wrap-input100">
            <label class="label-input100" for="exampleFormControlTextarea1">Текст</label>
            <textarea class="input100" id="exampleFormControlTextarea1" rows="5" name="postContent"></textarea>
            <span class="focus-input100"></span>
          </div>
          
          <div class="container-contact100-form-btn">
              <div class="wrap-contact100-form-btn">
                <div class="contact100-form-bgbtn"></div>
                <button type="submit" class="contact100-form-btn">
                  <span>
                      Публикуване
                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
            </div>
      
        </form>
    </div>
</div> -->

<div class="form-container">
  <div class="wrapper animated bounceInLeft">
      <div class="company-info">
          <h3>Mayks WEB Development </h3>
          <ul>
              <li>Улица 44</li>
              <li>(555) 555-5555</li>
              <li>mayks1@gmail.com</li>
          </ul> 
      </div>
      <div class="contact">
          <h3>Създаване на Пост</h3>
          <form action="/compose" method="POST">
              <p class="full">
                  <label>Заглавие</label>
                  <input type="text" name="postTitle">
              </p>
          
              <p class="full">
                  <label for="">Текст</label>
                  <textarea rows="5" name="postContent"></textarea>
              </p>
              <p class="full">
                  <button type="submit">Публикуване</button>
              </p>
          </form>
      </div>

  </div>
</div>

<%- include('partials/footer'); %>