<%- include('partials/header'); %>

<div class="form-container">
  <div class="wrapper animated bounceInLeft">
      <div class="company-info">
          <h3>Mayks WEB Development </h3>
          <ul>
              <li>Улица 44</li>
              <li>(555) 555-5555</li>
              <li>mayks1@gmail.com</li>
          </ul> 
      </div>
      <div class="contact">
          <h3>Създаване на Пост</h3>
          <form action="/compose" method="POST">
              <p class="full">
                  <label>Заглавие</label>
                  <input type="text" pattern=".{3,}" required title="Заглавието трябва да съдържа най-малко 3 занака!" name="postTitle">
                  <span class="error" aria-live="polite"></span>
              </p>
          
              <p class="full">
                  <label for="">Текст</label>
                  <textarea minlength="8" required rows="5" name="postContent"></textarea>
              </p>
              <p class="full">
                  <button type="submit">Публикуване</button>
              </p>
          </form>
      </div>
  </div>
</div>

<%- include('partials/footer'); %>