$company-info-background: #f92828
$contact-backgroud: #f9e98e
$input-outline-color: #ffd902

.form-container 
    max-width: 1170px
    margin-top: 5rem
    margin-left: auto
    margin-right: auto
    padding: 1em

.wrapper
  h3 
    font-size: 2.5rem

.company-info
  color: #fff
  ul 
    list-style: none
    padding: 0
  

.brand 
    text-align: center


.brand span 
    color: white


.wrapper 
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, .7)


.wrapper > * 
    padding: 1em

.company-info 
    background: $company-info-background


.company-info h3,
.company-info ul 
    text-align: center
    margin: 0 0 1rem 0


.contact 
    background: $contact-backgroud

/* FORM STYLES */
.contact form 
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 20px
    margin-top: 3rem


.contact form label 
    display: block


.contact form p 
    margin: 0


.contact form .full 
    grid-column: 1 / 3


.contact form button,
.contact form input,
.contact form textarea 
    width: 100%
    padding: 1em
    border: 1px solid $contact-backgroud

.contact form input:focus,
.contact form textarea:focus 
    outline-color: $input-outline-color

.contact form button 
    background: $company-info-background
    color: $contact-backgroud
    border: 0
    text-transform: uppercase

.contact form button:hover,
.contact form button:focus 
    background: $input-outline-color
    color: #000
    outline: 0
    transition: background-color 2s ease-out

/* LARG SCREEN 700px AND MORE */
@media (min-width: 700px) 
    .wrapper 
        display: grid
        grid-template-columns: 1fr 2fr

    .wrapper > * 
        padding: 2em
    

    .company-info h3,
    .company-info ul,
    .brand 
        text-align: left
