
header 
    position: fixed
    z-index: 100
    top: 0
    left: 0
    padding: 0 10rem
    background: #343a40
    width: 100%
    box-sizing: border-box
    .logo 
        color: #54D17A
        height: 5rem
        line-height: 5rem
        font-size: 2.4rem
        float: left
        font-weight: bold
    nav 
        float: right
        ul 
            margin: 0
            padding: 0
            display: flex
            li 
                list-style: none
                a 
                    height: 5rem
                    line-height: 5rem
                    padding: 0 2rem
                    color: #fff
                    text-decoration: none
                a:hover,
                a.active 
                    background: #54D17A
                    display: block

.menu-toggle 
    color: #fff
    float: right
    line-height: 5rem
    font-size: 2.8rem
    cursor: pointer
    display: none


@media screen and (max-width: 899px) 
    header 
        padding: 0 2rem

    .menu-toggle 
        display: block
    
    header nav 
        position: absolute
        width: 100%
        height: calc(100vh - 5rem)
        background: #333
        top: 5rem
        left: -100%
        transition: .5s
        &.active 
            left: 0
        ul 
            display: block
            text-align: center
            li 
                border-bottom: 1px solid rgba(0, 0, 0,.2)
                a 
                    font-size: 2.5rem