* 
  margin: 0
  padding: 0
  box-sizing: border-box
  
html 
  height: 100%

body 
  font-family: sans-serif
  background-image: linear-gradient( 90.8deg,  rgba(255,217,2,1) 0.3%, rgba(249,40,40,1) 98.7% )
  min-height: 100%
  display: flex
  flex-direction: column
  
.wrapper
  max-width: 720px
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto

@import menu

.form-post
  display: inline-block

  
.footer
  background: #343a40
  height: 10vh
  margin-top: auto
  text-align: center
  padding: 20px 0
  p
    margin-bottom: 0
    color: white
  span 
    color: red
  

  