@import fonts
@import  mixins

* 
  margin: 0
  padding: 0
  box-sizing: border-box
  
html 
  height: 100%

body 
  font-family: 'Montserrat', sans-serif
  background-image: linear-gradient( 90.8deg,  rgba(255,217,2,1) 0.3%, rgba(249,40,40,1) 98.7% )
  min-height: 100%
  display: flex
  flex-direction: column
  
.container
  max-width: 80%
  // width: 100%
  // padding-right: 15px
  // padding-left: 15px
  margin-right: auto
  margin-left: auto


@import menu

.page-title
  margin-bottom: 20px

.post-title
  font-size: 20px
  font-weight: 600
  padding: 20px 0

.post-content
  font-size: 14px
  font-weight: 400


.form-post
  display: inline-block

  
.footer
  background: #343a40
  height: 10vh
  max-height: 50px
  margin-top: auto
  text-align: center
  padding: 20px 0
  p
    margin-bottom: 0
    color: white
  span 
    color: red
  

  